//--- global variables ---//
$color1:rgb(221, 76, 61);
$color2:rgb(254, 254, 254);
$color3:rgb(244, 238, 238);
$font-color:rgb(31, 31, 31);
body{
    font-family: 'Poppins', sans-serif;
}

#content{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 100px 1fr 1fr;
}

.header{
    grid-column: 1/3;
    background-color: $color1;
    padding: 1.7rem;
    font-size: 2.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    

    //-----responsive navbar-----//
    .responsive-nav{
            margin-left: auto;
            margin-top: 5px;
        >*{
    
            display: block;
            width: 50px;
            height: 6px;
            margin-bottom: 9px;
            position: relative;
        
            background-color: white;
            border-radius: 6px;
            z-index: 1;
        
            transform-origin: 0 0;
        
            transition:0.4s;
        }
    }

    .responsive-nav.is-active span:nth-child(1){
        transform: translate(0px,-2px) rotate(45deg);
    }

    .responsive-nav.is-active span:nth-child(2){
        opacity:0;
        transform:translateX(15px);
    }

    .responsive-nav.is-active span:nth-child(3){
        transform: translate(-3px,3px) rotate(-45deg);
    }
}

//mobile NavBar
.mobile-nav{
    display: none;
   
    
}
.mobile-nav.is-active{
    grid-column: 1/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;

    background-color: $color3;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.45rem;
    padding: 1rem;

    animation: fade 0.2s;

   
    
    
    .nav-element:hover{
        transform: scale(1.05);
        cursor: pointer;
    }

    .links{
        
        .ig-img{
            width: 30px;
        }
        .ig-img:hover{
            cursor: pointer;
            transform: scale(1.03);
        }
        .github-img{
            width: 60px;
            
        }
        .github-img:hover{
            cursor: pointer;
            transform: scale(1.03);
        }
    }


   

}

@keyframes fade {
    100%{
        transform: scale(1);
        //transform:translate(0,100px) ;
    }
    0%{
        transform: scale(0.1);
    }
    
}


.nav-bar{
    background-color: $color3;
    font-size: 1.35rem;

    grid-column: 1;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    height: 100%;
    width: 160px;
    
    .nav-element:hover{
        transform: scale(1.05);
        cursor: pointer;
    }

    .links{
        
        .ig-img{
            width: 30px;
        }
        .ig-img:hover{
            cursor: pointer;
            transform: scale(1.03);
        }
        .github-img{
            width: 60px;
            
        }
        .github-img:hover{
            cursor: pointer;
            transform: scale(1.03);
        }
    }


   

}

.main{
    grid-column: 2/4;
    grid-row: 2/4;
}
.main.shrink{
    grid-row: 3/4;
    padding-top: 2rem;
}

//all
.all-container{
    gap:1rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem;
}

//drawing.js
.task-el{
    display: flex;
    align-items: center;
    
    
    gap: 1rem;
    //margin-top: 1rem;
    width: 450px;
    height: 50px;
    background-color: $color3;
    border-radius: 20px;
    padding: 0 0.7rem;


    
    .is-done{
        height: 25px;
        width: 25px;
        margin: 1rem;
        
    }

    .task-title{

    }

    .show-btn,
    .recover-btn{
        margin-left: auto;
        color: white;
        background-color: red;
        padding: 0.4rem;
        border-radius: 10px;
        font-weight: 600;
    }
    


}
.task-el-important{
    background-color: #02f32e;
}
//trash
.trash-container{
    gap:1rem;
}

//projects
.projects-container{
    gap:1rem;
}
.project-el{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    background: rgb(99,168,58);
    background: linear-gradient(107deg, rgba(99,168,58,1) 2%, rgba(47,224,202,1) 100%);
    padding: 2rem;
    border-radius: 20px;

    .project-bar{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        

        .project-title{
            font-size: 2rem;
        }

        .more-btn{
        margin-left: auto;
        color: white;
        background-color: rgb(178, 0, 248);
        
        padding: 0.4rem;
        border-radius: 10px;
        font-weight: 600;
        }
        
    }
    
}

.add-task-el{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 450px;
    height: 50px;
    background-color: $color3;
    border-radius: 20px;
    padding: 0 0.7rem;   

    
}
.add-project-el{
    background: rgb(99,168,58);
    background: linear-gradient(107deg, rgba(99,168,58,1) 2%, rgba(47,224,202,1) 100%);
}
.recover-btn,
.new-btn{
    background-color: $color1;
    color: white;
    background-color: red;
    padding: 0.4rem;
    border-radius: 10px;
    font-weight: 600;
    //margin-left: auto;
}


.btn{
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
}

//modal
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3rem;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 50%;
    border-radius: 20px;

    background-color: gray;
    

    .text-form{
        padding: 9px;
        font-size: 22px;
        border-width: 0px;
        border-color: #ed0000;
        background-color: #ffffff;
        color: #000000;
        border-style: solid;
        border-radius: 30px;
        box-shadow: 0px 0px 8px rgba(66,66,66,.2);
        text-shadow: 0px 0px 0px rgba(66,66,66,.75);

        margin-top: 1rem;
    }
    .description-form{
        
        height: 100px;
        resize: none;
    }
    .title-form{
       font-size: 1.4rem;
    }

    //?
    .project-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;

        .project-select{
            padding: 9px;
            font-size: 22px;
            background-color: #ffffff;
            color: #000000;
            border-style: solid;
            border-radius: 30px;
            box-shadow: 0px 0px 8px rgba(66,66,66,.2);
            text-shadow: 0px 0px 0px rgba(66,66,66,.75);
    
            margin-top: 1rem;
        }
    }
    
    .date-form{
        padding: 9px;
        font-size: 22px;
        border-width: 0px;
        border-color: #ed0000;
        background-color: #ffffff;
        color: #000000;
        border-style: solid;
        border-radius: 30px;
        box-shadow: 0px 0px 8px rgba(66,66,66,.2);
        text-shadow: 0px 0px 0px rgba(66,66,66,.75);

        margin-top: 1rem;
    }

    .important-form{
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        width: 210px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 1.7rem;


        font-weight: 600;
        cursor: pointer;
    }
    .not-important{
        color: #ed0000;
        
    }
    .important{
        color: #02f32e;

    }
    

    



    .close-modal{
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        
    }
    .line {
        
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: white;
        
        transition: transform 0.2s ease;
        
      }
      
      .line:first-child {
        transform: rotate(45deg);
      }
      
      .line:last-child {
        transform: rotate(-45deg);
      }



    

    .btn{
        color: $color2;
        font-weight: 600;
        background-color: $color1;
        padding: 0.5rem 5rem;
        border-radius: 20px;
        margin-top: auto;
        margin-bottom: 1rem;
    }
    .delete-btn{
        margin-top: 0;
        margin-bottom: 0.3rem;
    }
}

.add-modal{

}




//MEDIA QUERIES//
@media only screen and (min-width:701px){
    .responsive-nav{
        display: none;
        
    }
    
}

@media only screen and (max-width:700px){
    .nav-bar{
        display: none;
    }

    .task-el{
        width: 300px;
    }
    .add-task-el{
        width: 300px;
    }
    
    
    .main{
        grid-column: 1/4;
    }
   
}




















//-----RESET CSS-----//
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}